<p id="notice"><%= notice %></p>

<h2><%= t('all-trams') %></h2>
<hr>

<% @tramwajs.each do |tramwaj| %>

	<div class="text-justify">
  		<h4><%= tramwaj.nazwa %></h4>
  		<h6>Rok produkcji: <b><%= tramwaj.rok_produkcji %></b></h6>
  		<%= markdown(tramwaj.opis) %>
	</div>
	<br>

	<% if current_user %>
		<div class="text-right">
  			<%= link_to t('details'), tramwaj %> |
  			<%= link_to t('edit'), edit_tramwaj_path(tramwaj) %> |
  			<%= link_to t('delete'), tramwaj, method: :delete, data: { confirm: 'Czy na pewno usunąć?' } %>
		</div>
	<% end %>

	<hr/>

<% end %>