<!DOCTYPE html>
<html>
<head>
	<title>Tramwaje</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			
				<%= link_to t('trams'), tramwajs_path, { :class=>"navbar-brand" } %>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav navbar-right">	

					<li><%= link_to_unless_current "EN", locale: "en" %></li>
					<li><%= link_to_unless_current "PL", locale: "pl" %></li>

				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>

	<div class="container">

		<div class="col-sm-3">

			<div class="panel panel-default" style="margin-top: 20px;">
				<div class="panel-heading">
				<% if current_user %>
						<%= t('hello') %> <%= current_user.email %>!
					<% else %>
						Załóż konto
					<% end %>

				</div>
				<ul class="nav nav-pills nav-stacked" style="margin: 0">

					<% if current_user %>
						<li role="presentation"><%= link_to t('logout'), logout_path %></li>
					<% else %>
						<li role="presentation"><%= link_to t('login'), login_path %></li>
						<li role="presentation"><%= link_to t('signup'), signup_path %></li>
					<% end %>

				</ul>
			</div>


			<div class="panel panel-default" style="margin-top: 20px;">
				<div class="panel-heading">Zarządzaj</div>
				<ul class="nav nav-pills nav-stacked" style="margin: 0">
					<% if current_user %>
						<li role="presentation"><%= link_to t('add-tram'), new_tramwaj_path %></li>
					<% end %>
					<li role="presentation"><%= link_to t('all-trams'), tramwajs_path %></li>
					

				</ul>
			</div>

		</div>

		<div class="col-sm-9 padding-top">
			<%= yield %>
		</div>

	</div>

</body>
</html>